:root {
  --sidebar-width: 16.5625rem;
  --sidebar-width-collapsed: 5rem;
  --bg-primary: #e53935;
  --btn-active-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(60, 72, 88, 0.4);
  --bg-btn-hover: hsla(0, 0%, 100%, 0.1);
  --color-divider: hsla(0, 0%, 100%, 0.3);
  --color-danger: rgb(255, 24, 24);
  --color-gray-100: rgb(214 214 214);
  --fs: 16px;
  --fs-small: 14px;
  --color-light: #f8f9fa;
  --color-dark: #212529;
}
