@use "./root";
@use "./reboot";
@use "./fonts";
@use "./form";
@use "./button";
@use "./bootstrap-grid/bootstrap-grid.scss";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    "montserrat";
}
.text-small {
  font-size: var(--fs-small) !important;
  line-height: 15px;
}
.mat-icon.icon-size-24 {
  height: 24px !important;
  width: 24px !important;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--mat-divider-color);
}
.border-left {
  border-left: 1px solid var(--mat-divider-color);
}
.mat-mdc-icon-button.mat-mdc-button-base {
  padding-top: 6px !important;
}
