.carousel-container {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    display: none;
    &.image-active {
      display: block;
      object-fit: cover;
      object-position: center center;
    }
    &.fade-animate {
      animation-name: fade;
      animation-duration: 1s;
    }
  }
  .carousel-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-light);
  }
  .carousel-indicators-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    .carousel-indicator {
      display: block;
      cursor: pointer;
      width: 16px;
      height: 16px;
      background-color: var(--color-dark);
      border-radius: 50%;
      transition: all 0.6s ease;
      &.indicator-active,
      &:hover {
        opacity: 1;
        background-color: var(--color-light);
      }
    }
  }
  .carousel-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    &.control-left {
      left: 0;
    }
    &.control-right {
      right: 0;
    }
    .carousel-btn {
      background-color: var(--color-light);
      opacity: 0.5;
      outline: none;
      width: 48px;
      height: 48px;
      border: none;
      border-radius: 50%;
      margin-inline: 15px;
      &:hover {
        transition: all 0.3s ease;
        opacity: 1;
      }
      &.carousel-btn-prev,
      &.carousel-btn-next {
        color: var(--color-dark);
      }
    }
  }
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
