<div class="carousel-container" *ngIf="images().length">
    <img *ngFor="let image of images(); index as i" [src]="image.imageSrc" [alt]="image?.imageAlt"
        [ngClass]="{'image-active':selectedIndex() === i}" class="fade-animate">
    <div class="carousel-content-container">
        <!-- <h1 style="z-index: 999;">{{selectedIndex+1}} of {{images().length}}</h1> -->
    </div>
    <div class="carousel-controls control-left" *ngIf="controls">
        <button class="carousel-btn carousel-btn-prev mat-elevation-z6" (click)="onPrevClick()">
            <mat-icon svgIcon="m_tech_arrow_up_left"></mat-icon>
        </button>
    </div>
    <div class="carousel-controls control-right" *ngIf="controls">
        <button class="carousel-btn carousel-btn-next mat-elevation-z6" (click)="onNextClick()">
            <mat-icon svgIcon="m_tech_arrow_up_right"></mat-icon></button>
    </div>
    <div class="carousel-indicators-container" *ngIf="indicators">
        <span class="carousel-indicator text-light" *ngFor="let indicator of images(); index as i"
            [ngClass]="{'indicator-active':selectedIndex() === i}" (click)="changeIndex(i)">.</span>
    </div>
</div>