.sidenav {
  font-weight: 200;
  background-color: var(--bg-primary);
  transition: all 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 1;
  width: var(--sidebar-width);
  height: 100vh;
  height: 100dvh;
  box-shadow: 0.063rem 0 1.25rem 0 rgb(146, 146, 146);
  .logo-container {
    position: relative;
    display: flex;
    align-items: center;
    // gap: 5px;
    padding: 0.938rem;
    width: 100%;
    margin-bottom: 3px;
    .logo {
      background-color: white;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }
    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: white;
    }
    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: white;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(100% - 1.876rem);
      border-bottom: 1px solid var(--color-divider);
    }
  }
  .sidenav-nav {
    list-style: none;
    margin: 0;
    padding: 0.938rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.625rem;
    }
  }
}
.sidenav-collapsed {
  width: var(--sidebar-width-collapsed);
}
