<div class="sidenav" [ngClass]="{'sidenav-collapsed':collapsed}">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">S</button>
        <div class="logo-text" *ngIf="!collapsed">System</div>
        <button class="btn-close" *ngIf="!collapsed" (click)="closeSidenav()">
            <i class="ri-close-line ri-lg close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let item of navData()">
            <app-sidenav-link [item]="item" [collapsed]="collapsed"
                (itemSelected)="itemSelected($event)"></app-sidenav-link>
        </li>
    </ul>
</div>